<div class="container">
    <br>
    <div class="row">
        <div *ngFor="let product of products; let producId =index" class="col">
                <a  [routerLink]="[producId]" routerLinkActive="active"> 
                <div class="card" >
                    <img src="{{product.coverimge}}" class="card-img-top" alt="...">
                    <div class="card-body">
              
                      <h5 class="card-title">{{product.name}}</h5>
                      <p class="card-text">{{product.description}}</p>
                      
                    </div>
                </div>
                </a>
        </div>
    </div>
  </div>

